body {
    overflow-x: hidden;
}

h1 {
    color: #6c757d;
}

.dot {
    height: 25px;
    width: 25px;
    border-color: #1f3763;
    border-radius: 50%;
    border-style: solid;
    border-width: 15px;
    display: inline-block;
  }