@if (Character != null)
{
    <div class="mt-2 mb-2">
        <HxProgress>
            <HxProgressBar Value="@Character.HealthPercent"
                           Label="@($"{Character.Health}/{Character.FullHandSize}")"
                           Color="@GetColor(Character.HealthPercent)" />
        </HxProgress>
    </div>
}

@code {
    [Parameter]
    public Character? Character { get; set; }

    private ThemeColor? GetColor(int percent) => percent switch
    {
        <= 33 => ThemeColor.Danger,
        <= 66 => ThemeColor.Warning,
        _ => ThemeColor.Success
    };

}
