@page "/"

<PageTitle>Keyword fighting engine</PageTitle>

@* <h1>Hello adventurer! Would you like to try keyword fighting engine?</h1> *@
<div class="lead">Witaj wędrowcze! Czy chciałbyś wypróbować mechanikę walki opartą na słowach kluczowych?</div>

<div class="d-grid gap-2 mt-2 mb-2">
    <a href="/melee-duel" class="btn btn-secondary">Nowy pojedynek na ubitej ziemi</a>
    <a href="/cards" class="btn btn-secondary">Chcę zobaczyć karty walki</a>
    <a href="/equipment" class="btn btn-secondary">Chcę zobaczyć ekwipunek</a>
</div>